{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/result.css">

<header>Your Bookmarked Events:</header>

{% for event in events %}
      <section id="caption{{loop.index}}" class="caption">
      {% if event['logo']['url'] is not defined %}
        <img src="/static/img.jpg" alt="default event picture" class="eventpic">
     {% else %}
         <img src="{{event['logo']['url'] }}" alt="eventpic{{loop.index}}"/>
    {% endif %}


        <h3>{{ event['name']['text'] }}</h3>
        <p>Date: {{ event['start']['local']}} - {{ event['end']['local']}}</p>

        {# venue doesn't work for some reason, the eventbrite batch api wont expand the venue #}
        {# <P>Location: {{event['venue']['address']['localized_address_display']}}</p> #}
        {% if event['description']['text'] is not none %}
          <p>{{ event['description']['text']}}</p>
        {% else %}
          <p>No description.</p>
        {% endif %}

        <p><a href="{{ event['url']}}" class="btn btn-primary buy"  role="button">Buy Ticket Now</a> 

        <a href="/bookmark/{{event['id']}}/{{source}}" class="btn btn-default bookmark" role="button">Remove Bookmark</a></p>
      </section>


{% else %}
    <p> No bookmarks found, try searching for events on the main page.</p>

{% endfor %}


{% endblock %}