{% extends "base.html" %}
{% block content %}

<p>LocFun offers several features to users:</p>

<ul>
  <li><b>Make an account:</b> You can always search as a guest, but logged in users can have their preferences remembered.</li>
  <li><b>Search for events:</b> Specify a search term, a search radius, and filter by type of event if you prefer, to see a list of fun things to do in your area.</li>
  <li><b>Bookmark events:</b> If something sparks your interest, bookmark it for later. View all events you've bookmarked any time while logged in.</li>
  <li><b>Buy ticket now:</b> Takes you to the listing of an event so you can book your visit.</li>
  <li><b>Popular events:</b> Shows the events that are generating the most buzz in your area.</li>
</ul>

{% endblock %}
