{% extends "base.html" %}
{% block content %}

<h3>Help</h3>

<p>If you are experiencing trouble making an account, please ensure:</p>
<ul>
  <li>That your username contains only alphanumeric characters or the underscore ("_") symbol.</li>
  <li>That your password is between 6 and 35 characters long.</li>
  <li>That you are entering a valid email address.</li>
</ul>

<p>If you are experiencing trouble signing into an existing account, please ensure:</p>
<ul>
  <li>That the information you are entering is correct.</li>
  <li>That you are entering your username, and not your email address, in the username field.</li>
</ul>

<p>If you are experiencing trouble searching for events, please ensure:</p>
<ul>
  <li>That you have allowed LocFun permission to access your geo-location.</li>
  <li>That you have entered a search term.</li>
  <li>That your search radius is not too small.</li>
</ul>

{% endblock %}
