{% extends "base.html" %}
{% block content %}

<p> Welcome to LocFun! This site will allow you to explore events in your area. </p>
<p> LocFun uses the following APIs: </p>
<ul>
<li> EventBrite API for getting information about Events </li>
<li> DarkSky API for getting weather information for the event </li>
<li> ip-api for getting basic geolocation information </li>
<li> The HTML5 geolocation API to get more accurate data </li>
<li> The Google maps API for displaying user and event locations on maps </li>
</ul>

{% endblock %}
