{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/result.css">


<header>Events Around you...</header>

{% for event in events %}
      <section id="caption{{loop.index}}" class="caption">
      {% if event['logo']['url'] is not defined %}
        <img src="/static/img.jpg" alt="default event picture" class="eventpic">
     {% else %}
         <img src="{{event['logo']['url'] }}" alt="eventpic{{loop.index}}"/>
    {% endif %}


        <h3>{{ event['name']['text'] }}</h3>
        <p>Date: {{ event['start']['local']}} - {{ event['end']['local']}}</p>
        <P>Location: {{event['venue']['address']['localized_address_display']}}</p>

        {% if event['description']['text'] is not none %}
          <p>{{ event['description']['text']}}</p>
        {% else %}
          <p>No Description</p>
        {% endif %}
        <p><a href="{{ event['url']}}" class="btn btn-primary buy"  role="button">Buy Ticket Now</a> 

        <a href="/bookmark/{{event['id']}}/{{source}}" class="btn btn-default bookmark" role="button">{% if is_bookmarked(event['id']) %} Remove {% endif %} Bookmark</a>
        <a href="/view_event/{{event['id']}}" class="btn btn-default view_event" role="button">More Info</a></p>
      </section>

{#
For debugging (to print out all contents of the responses
{% for item in event.items() %}
{{ item }}
<br>
{% endfor %} 
#}

{% else %}
    <p> No events found, try revising your search terms or preferences</p>

{% endfor %}



{% endblock %}